@charset "ISO-8859-1";
h1
{
   position:absolute;
   left:120px;
   top:105px;
}
.btn
{
   position:relative;
   left:130px;
   top:30px;
}
.btn:hover
{
   background-color:white;
   color:black;
}
#example_wrapper
{
    margin-top:70px;
    background-color:#f1f1f1;
}