@charset "ISO-8859-1";
  .aboutus
  {
    width:800px;
    height:500px;
    position:absolute;
    left:250px;
    top:170px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
  }
  #contactus1
  {
    position:relative;
    top:30px;
    left:30px;
  }
  #contactus2
  {
    position:relative;
    top:20px;
    left:20px;
    text-align:justify;
    padding:30px;
    line-height: 1.5;
  }
  .tel-img
  {
    width:200px;
    height:150px;
    position:absolute;
    top:75px;
    left:20px;
  }
    #contactus3
  {
    position:absolute;
    top:150px;
    left:250px;
  }
  .email-img
  {
    width:200px;
    height:180px;
    position:absolute;
    top:140px;
    left:-30px;
  }
    #contactus4
  {
    position:absolute;
    top:200px;
    left:50px;
  }
    #contactus5
  {
     position:absolute;
    top:270px;
    left:250px;
  }
  .office-img
  {
    width:200px;
    height:130px;
    position:absolute;
    top:340px;
    left:-30px;
  }
    #contactus6
  {
    position:absolute;
    top:320px;
    left:50px;
  }
    #contactus7
  {
     position:absolute;
    top:400px;
    left:250px;
  }
  .posi
  {
    position:absolute;
    top:-60px;
  }