@charset "ISO-8859-1";
  table,th,td
      {
          border:1px solid black;
          border-collapse: collapse;
          border-bottom: 1px solid black;
          text-align:center;
          color:white;
      }
      tr:hover {background-color: black;color:white;}
      table
      {
        width:80%;
        height:50px;
        margin-top:130px;
      }
      h1
      {
        position:absolute;
        left:130px;
        top:150px;
      }
td a
{
  position:relative;
  top:-5px;
  left:-20px;
}
     .btn
     {
        position:relative;
        top:5px;
        left:10px;
        margin-left:10px;
     }
     .btn:hover
     {
         background-color:white;
         color:black;
     }