    table,th,td
      {
          border:1px solid black;
          border-collapse: collapse;
          border-bottom: 1px solid black;
          color:white;
      }
      tr:hover {background-color: black;}
      table
      {
        width:80%;
        height:100px;
        margin-top:100px;
      }
      th
      {
        text-align:center;
      }
      h1
      {
        position:absolute;
        left:120px;
        top:140px;
      }
      .btn
      {
        position:relative;
        top:0px;
      }
      .btn:hover
      {
         background-color:white;
         color:black;
      }