@charset "ISO-8859-1";
table,th,td
      {
          border:1px solid black;
          border-collapse: collapse;
          border-bottom: 1px solid black;
          color:white;
      }
      tr:hover {background-color: black;}
      table
      {
        width:80%;
        height:100px;
        align:center;
        margin-top:60px;
      }
      h1
      {
        position:relative;
        left:10px;
        top:60px;
      }
      .btn
      {
         position:relative;
         top:20px;
         left:130px;
      }
      .btn:hover
      {
         background-color:white;
         color:black;
      }