 form{
            border: 3px solid #f1f1f1;
            margin-left:0px;
            margin-right:800px;
            padding:10px;
            height:230px;
            width:330px;
        }
  .addservice
  {
   margin-top:110px;
    margin-left:140px;
    margin-right:800px;
  }
.btn:hover
{
 background-color:white;
 color:black;
}
h2
{
 display:inline;
}